@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 80px 32px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #243E63;
}

ul {
    list-style-type: none;
}

.purple {
    color: #6415FF;
}

.btn {
    background-color: #6415FF;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 100px;
    padding: 14px 28px;
    cursor: pointer;
    transition: all 300ms ease;
}

.btn:hover {
    background-color: rgb(80 17 204);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
}

.logo__text {
    font-weight: 900;
    font-size: 24px;
}

.nav__list {
    display: flex;
}

.list {
    display: flex;
    align-items: center;
}


.nav__link {
    margin: 0 24px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.common {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    padding-bottom: 4px;
    transition: border-bottom 300ms ease;
}

.common:hover {
    color: rgb(100 21 255);
    border-bottom: 2px solid rgb(100 21 255);
}

.login {
    margin-left: 24px;
    margin-right: 24px;
}

.sign-up {
    color: #fff;
    background-color: #6415FF;
    border-radius: 100px;
    padding: 12px 32px;
    margin: 0;
    transition: all 300ms ease;
}

.sign-up:hover {
    background-color: rgb(80 17 204);
}

/* 

BARS

*/

.btn__menu {
    background-color: transparent;
    color: #6415FF;
    font-size: 24px;
    text-align: center;
    border: none;
    display: none;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    margin: 16px 0;
}


.btn__menu--close {
    position: absolute;
    right: 40px;
    top: 27px;
    padding: 8px;
}

.nav__link--menu {
    font-size: 18px;
}

/* 

TEMPLATES

*/

#templates {
    padding: 96px 32px;
}

.row__templates {
    display: flex;
    justify-content: space-between;
}

.templates__text {
    width: 40%;
}

.templates__title {
    font-size: 48px;
    font-weight: 700;
    color: #1A202C;
}

.templates__subtitle {
    margin: 32px 0;
    color: #243E63;
    font-size: 18px;
    line-height: 1.5;
}

.templates__email {
    display: flex;
    position: relative;
}

.input {
    width: 100%;
    border: 2px solid rgb(226, 232, 240);
    border-radius: 100px;
    padding: 22px 192px 22px 32px;
    font-weight: 500;
    font-size: 16px;
    transition: all 300ms ease;
}

.input::placeholder {
    color: rgb(200, 206, 214);
}

.input:hover {
    border: 2px solid rgb(160 174 192);
}

.templates__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 8px 8px 8px 8px;
}

.templates__btn:active {
    transform: translateY(1px);
}

.templates__company {
    margin: 80px 0 0 0;
}

.company__text {
    color: #A0AEC0;
    font-size: 12px;
    font-weight: 700;
}

.company__img {
    margin: 16px 0 0 0;
    width: 100%;
    opacity: 50%;
    padding-right: 64px;
}

.templates__img {
    width: 60%;
    max-width: 650px;
}

/* 

SERVICE

*/

.service__row {
    max-width: 992px;
}

.service__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;
    text-align: center;
}

.section__top {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 16px;
}

.section__title {
    font-size: 48px;
    color: #243E63;
    font-weight: 900;
}

.section__para {
    width: 100%;
    max-width: 576px;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
    margin-top: 16px;
    color: #7C8BA1;
}

.service__points {
    display: flex;
    flex-wrap: wrap;
}

.service__point {
    width: calc(100% / 3);
    display: flex;
    margin-bottom: 50px;
    padding-right: 30px;
}

.service__point--img {
    border: 1px solid rgb(226, 232, 240);
    border-radius: 100%;
    padding: 20px;
}

.service__point--header {
    font-size: 24px;
    font-weight: 700;
    color: #243E63;
}

.service__point--para {
    margin-top: 16px;
    line-height: 2;
    font-size: 16px;
    font-weight: 500;
    color: #7C8BA1;
}

.service__point--text {
    margin-left: 20px;
}


/* 

PROFESSIONALS

*/

.row__professionals {
    display: flex;
}


.professionals__text {
    width: 50%;
}

.professionals__btn {
    margin-top: 30px;
}

.professionals__img {
    width: 50%;
    height: 100%;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 4px;
}

/* 

GET STARTED

*/

.row__getstarted {
    display: flex;
    align-items: center;
}

.getstarted__img {
    width: 50%;
    height: 100%;
}

.getstarted__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}


.getstarted__list {
    display: flex;
    margin-top: 32px;
}

.getstarted__number {
    font-size: 36px;
    font-weight: 600;
    line-height: 1;
    color: rgb(203 213 224);
}

.getstarted__description {
    margin-left: 24px;
    width: 100%;
    max-width: 330px;
}

.getstarted__description--header {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #243E63;
}

.getstarted__description--para {
    font-size: 14px;
    font-weight: 500;
    color: rgb(113 128 150);
    margin-top: 12px;
    line-height: 2;
}


/* 

PRINCIPLES

*/

.row__principles {
    display: flex;
}

.principles__text {
    width: 50%;
}

.principles__points {
    display: flex;
    margin-top: 32px;
}

.principles__point {
    margin-top: 32px;
    margin-right: 32px;
}

.principles__point--header {
    display: flex;
    align-items: center;
}

.principles__point--green,
.principles__point--red {
    border-radius: 100px;
    width: 100%;
    max-width: 36px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.principles__point--green {
    background-color: rgb(154 230 180);
}

.principles__point--red {
    background-color: rgb(254 178 178);
}

.principles__point--img {
    width: 20px;
    height: 20px;
}

.principles__point--title {
    font-size: 20px;
    font-weight: 700;
    color: #243E63;
    margin-left: 20px;
}

.principles__point--text {
    color: rgb(113 128 150);
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.6;
}

.principles__btn {
    margin-top: 48px;
}

.principles__img {
    width: 50%;
}

/* 

PLANS

*/

.plans__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plans__pricing {
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
}

.plan {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 2px rgb(200, 195, 195);
    border-radius: 10px;
    position: relative;
}

.plan__price,
.plan__for,
.plan__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 80px;
}

.plan__price,
.plan__for {
    border-bottom: 2px solid rgb(226, 232, 240);
}

.plan__price--business,
.plan__for--business {
    border-bottom: 2px solid rgb(138, 140, 143);
}

.plan__price--header,
.plan__price--price,
.plan__for--header {
    color: #1A202C;
    font-weight: 700;
}

.plan__price--header,
.plan__for--header,
.plan__for--text {
    font-size: 20px;
}

.plan__price--price {
    font-size: 48px;
    margin: 15px 0;
}

.plan__price--month {
    color: #A0AEC0;
    font-size: 16px;
    font-weight: 700;
}

.plan__for--text {
    color: #718096;
    margin-top: 20px;
    font-weight: 500;
    font-size: 16px;
}

.plan__btn {
    padding: 32px 0;
}

.plan__btn--personal,
.plan__btn--business,
.plan__btn--enterprise {
    font-size: 14px;
    padding: 20px 56px;
    font-weight: 700;
    transition: all 300ms ease;
}


.plan__btn--personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__btn--business {
    background-color: rgb(247 250 252);
    color: #6415ff;
}

.plan__btn--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}

.plan__btn--personal:hover,
.plan__btn--business:hover,
.plan__btn--enterprise:hover {
    transform: translate(1px, -1px);
    box-shadow: 0 10px 10px -5px rgb(209, 204, 204);
}

.plan__btn--business:hover {
    background-color: rgb(247 250 252);
    box-shadow: 0 10px 10px -5px rgb(76, 81, 191);
}


.plan__business {
    background: linear-gradient(135deg, rgb(76, 81, 191) 0%, rgb(102, 126, 234) 100%);
}

.business {
    color: #f7fafc;
}

.business__monthly {
    color: #EDF2F7;
}

.text__business {
    color: #E2E8F0;
}

.plan__style--personal,
.plan__style--enterprise {
    height: 8px;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.plan__style--personal {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__style--enterprise {
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
}


/*

FOOTER

*/

#footer {
    background-color: rgb(100 21 255);
}

.footer__links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 80px;
    border-bottom: 2px solid rgb(116 44 255);
}

.footer__link {
    display: flex;
    flex-direction: column;
}

.footer__link--header,
.footer__link--text {
    color: #fff;
}

.footer__link--header {
    font-weight: 700;
    font-size: 16px;
}

.footer__link--links {
    margin-top: 24px;
}

.footer__link--link {
    margin-top: 12px;
    font-size: 14px;
    font-weight: 500;
}

.footer__link--text {
    border-bottom: 2px solid transparent;
    text-decoration: none;
    padding-bottom: 4px;
    transition: border-bottom 300ms ease;
}

.footer__link--text:hover {
    border-bottom: 2px solid #fff;
}


.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
}


.footer__logo {
    display: flex;
    align-items: center;
}

.footer__logo--img {
    width: 32px;
    height: 32px;
}

.footer__logo--text {
    font-size: 20px;
    font-weight: 900;
    color: #fff;
    margin-left: 8px;
}

.footer__rights {
    color: #cbd5e0;
}

.footer__socials {
    display: flex;
}

.footer__social {
    background-color: #fff;
    border-radius: 100px;
    padding: 8px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease;
}

.footer__social:hover {
    opacity: 75%;
}

.footer__social--img {
    width: 16px;
    height: 16px;
}

/* 

MEDIA/RESPONZIVITA

*/

@media (max-width: 1000px) {
    .nav__links {
        display: none;
    }

    .btn__menu {
        display: block;
    }
    
    .btn {
        font-size: 14px;
    }
    
    .row__templates {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .templates__text {
        width: 100%;
        max-width: 450px;
        text-align: center;
        padding-bottom: 80px;
    }

    .templates__title {
        font-size: 30px;
    }

    .templates__subtitle {
        font-size: 16px;
    }

    .templates__email {
        max-width: 450px;
        margin: 0 auto;
    }

    .templates__company {
        margin: 50px 0 0 0;
    }

    .company__text {
        font-size: 16px;
    }

    .company__img {
        max-width: 550px;
        padding: 0;
    }

    .templates__img {
        width: 100%;
        max-width: 450px;
    }

    .section__title {
        font-size: 36px;
    }

    .section__para {
        font-size: 16px;
    }

    .service__points {
        justify-content: center;
    }

    .service__point {
        width: calc(100% / 2);
        max-width: 350px;
    }


    .professionals__title {
        font-size: 36px;
    }

    .principles__points {
        flex-direction: column;
        margin-right: 120px;
    }

    .plans__pricing {
        flex-direction: column;
        max-width: 380px;
        margin: 0 auto;
    }

    .plan {
        margin-top: 50px;
    }
}

@media (max-width: 700px) {
    .container {
        padding: 50px 32px;
    }

    .input {
        padding: 22px 32px;
        text-align: center;
    }

    .section__title {
        font-size: 30px;
    }

    .section__para {
        font-size: 14px;
    }

    .templates__email {
        flex-direction: column;
    }

    .templates__btn {
        position: relative;
        height: 56px;
        margin: 20px 0 0 0;
    }

    .service__points {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service__point {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .service__point--img {
        margin-bottom: 10px;
    }

    .service__point--text {
        margin: 0;
    }

    .row__professionals {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .professionals__img {
        width: 100%;
        max-width: 450px;
        margin-bottom: 50px;
    }

    .professionals__text {
        width: 100%;
        max-width: 450px;
    }

    .row__getstarted {
        flex-direction: column;
    }

    .getstarted__img {
        width: 100%;
        max-width: 450px;
        margin-bottom: 50px;
    }

    .getstarted__text {
        text-align: center;
        padding: 0;
        width: 100%;
    }

    .getstarted__list {
        flex-direction: column;
        align-items: center;
    }

    .getstarted__number {
        margin-bottom: 10px;
    }

    .getstarted__description {
        margin: 0;
    }

    .row__principles {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }

    .principles__img {
        width: 100%;
        max-width: 450px;
        margin-bottom: 50px;
    }

    .principles__text {
        width: 100%;
        max-width: 450px;
    }

    .principles__points {
        margin: 0 auto;
        align-items: center;
    }

    .principles__point {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0;
        max-width: 320px;
    }

    .principles__point:last-child {
        margin: 0;
    }

    .footer__links {
        justify-content: center;
    }

    .footer__link {
        display: flex;
        align-items: center;
        text-align: center;
        margin-bottom: 30px;
        padding: 0 10px;
    }

    .footer__info {
        flex-direction: column;
    }

    .footer__logo, .footer__rights {
        margin-bottom: 30px;
    }
}